*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 1.25rem;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 1.25rem;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 81.25rem;
    margin: auto;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 18.75rem;
}

.col-2 img{
    max-width: 100%;
    padding: 3.125rem 0;
    width: 400rem;
}

.col-2 h1{
    font-size: 3.125rem;
    line-height: 3.75rem;
    margin: 1.5625rem 0;
}

.btn{
    display: inline-block;
    background: #EE1C25;
    color: #fff;
    padding: 0.5rem 1.875rem;
    margin: 1.875rem 0;
    border-radius: 1.875rem;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(80, 17, 17);
}

.header{
    background: radial-gradient(#fff, #ffc5c5);
}

.header .row{
    margin-top: 4.375rem;
}
